<% if flash[:errors]%>
	<ul>
		<% flash[:errors].each do |error| %>
			<li style="color:red;"><%= error %></li>
		<% end %>
	</ul>
<% end%>

<%= form_for @student do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>

	<%= f.label :mod %><br>
	<%= f.text_field :mod %><br>
	
	<%= f.submit %>
<% end %>