<% if flash[:errors]%>
	<ul>
		<% flash[:errors].each do |error| %>
			<li style="color:red;"><%= error %></li>
		<% end %>
	</ul>
<% end%>

<%= form_for @duck do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>

	<%= f.label :description %><br>
	<%= f.text_area :description %><br>

	<%= f.label :student_id %><br>
	<%= f.collection_select :student_id, @students, :id, :name %><br>
	
	<%= f.submit %>
<% end %>